templates/src/main/resources/templates/zabbix_export_3.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zabbix_export">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:float" name="version"/>
        <xs:element type="xs:dateTime" name="date"/>
        <xs:element name="groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="templates">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="template" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="zabbixHostFormat" name="template"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element name="groups">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="applications">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="application" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="items">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="item" type="itemObj" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="discovery_rules">
                      <xs:complexType>
                      	<xs:sequence>
                      		<xs:element name="discovery_rule" maxOccurs="unbounded" minOccurs="0">
                      			<xs:complexType>
                      				<xs:sequence>
                      					<xs:element type="xs:string"
                      						name="name" />
                      					<xs:element type="xs:byte"
                      						name="type" />
                      					<xs:element type="xs:string"
                      						name="snmp_community" />
                      					<xs:element type="xs:string"
                      						name="snmp_oid" />
                      					<xs:element type="xs:string"
                      						name="key" />
                      					<xs:element type="xs:integer"
                      						name="delay" />
                      					<xs:element type="xs:byte"
                      						name="status" />
                      					<xs:element type="xs:string"
                      						name="allowed_hosts" />
                      					<xs:element type="xs:string"
                      						name="snmpv3_contextname" />
                      					<xs:element type="xs:string"
                      						name="snmpv3_securityname" />
                      					<xs:element type="xs:byte"
                      						name="snmpv3_securitylevel" />
                      					<xs:element type="xs:byte"
                      						name="snmpv3_authprotocol" />
                      					<xs:element type="xs:string"
                      						name="snmpv3_authpassphrase" />
                      					<xs:element type="xs:byte"
                      						name="snmpv3_privprotocol" />
                      					<xs:element type="xs:string"
                      						name="snmpv3_privpassphrase" />
                      					<xs:element type="xs:string"
                      						name="params" />
                      					<xs:element type="xs:string"
                      						name="ipmi_sensor" />
                      					<xs:element type="xs:byte"
                      						name="authtype" />
                      					<xs:element type="xs:string"
                      						name="username" />
                      					<xs:element type="xs:string"
                      						name="password" />
                      					<xs:element type="xs:string"
                      						name="publickey" />
                      					<xs:element type="xs:string"
                      						name="privatekey" />
                      					<xs:element type="xs:short"
                      						name="port" />
                      					<xs:element name="filter">
                      						<xs:complexType>
                      							<xs:sequence>
                      								<xs:element
                      									type="xs:byte" name="evaltype" />
                      								<xs:element
                      									type="xs:string" name="formula" />
                      								<xs:element
                      									name="conditions">
                      									<xs:complexType>
                      										<xs:sequence>
                      											<xs:element
                      												name="condition" maxOccurs="unbounded"
                      												minOccurs="0">
                      												<xs:complexType>
                      													<xs:sequence>
                      														<xs:element
                      															type="xs:string" name="macro" />
                      														<xs:element
                      															type="xs:string" name="value" />
                      														<xs:element
                      															type="xs:byte" name="operator" />
                      														<xs:element
                      															type="xs:string" name="formulaid" />
                      													</xs:sequence>
                      												</xs:complexType>
                      											</xs:element>
                      										</xs:sequence>
                      									</xs:complexType>
                      								</xs:element>
                      							</xs:sequence>
                      						</xs:complexType>
                      					</xs:element>
                      					<xs:element type="xs:string" name="lifetime" />
                      					<xs:element type="xs:string"
                      						name="description" />
                      					<xs:element
                      						name="item_prototypes">
                      						<xs:complexType>
                      							<xs:sequence>
                      								<xs:element
                      									name="item_prototype"
                      									maxOccurs="unbounded" minOccurs="0" type="itemProtoObj"/>
                      							</xs:sequence>
                      						</xs:complexType>
                      					</xs:element>
                      					<xs:element
                      						name="trigger_prototypes">
                      						<xs:complexType>
                      							<xs:sequence>
                      								<xs:element name="trigger_prototype" type="triggerObj" maxOccurs="unbounded" minOccurs="0"></xs:element>
                      							</xs:sequence>
                      						</xs:complexType>
                      					</xs:element>
                      					<xs:element name="graph_prototypes">
                      						<xs:complexType>
                      							<xs:sequence>
                      								<xs:element name="graph_prototype" type="graphType" maxOccurs="unbounded" minOccurs="0"/>
                      							</xs:sequence>
                      						</xs:complexType>
                      					</xs:element>
                      					<xs:element type="xs:string" name="host_prototypes" />
                      				</xs:sequence>
                      			</xs:complexType>
                      		</xs:element>
                      	</xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="httptests"/> <!-- expand later -->
                    <xs:element name="macros">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="macro" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="macro"/>
                                <xs:element type="xs:string" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="templateDependencies" name="templates"/>
                    <xs:element name="screens">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="screen" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:byte" name="hsize"/>
                                <xs:element type="xs:byte" name="vsize"/>
                                <xs:element name="screen_items">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="screen_item">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="resourcetype"/>
                                            <xs:element type="xs:short" name="width"/>
                                            <xs:element type="xs:byte" name="height"/>
                                            <xs:element type="xs:byte" name="x"/>
                                            <xs:element type="xs:byte" name="y"/>
                                            <xs:element type="xs:byte" name="colspan"/>
                                            <xs:element type="xs:byte" name="rowspan"/>
                                            <xs:element type="xs:byte" name="elements"/>
                                            <xs:element type="xs:byte" name="valign"/>
                                            <xs:element type="xs:byte" name="halign"/>
                                            <xs:element type="xs:byte" name="style"/>
                                            <xs:element type="xs:string" name="url"/>
                                            <xs:element type="xs:byte" name="dynamic"/>
                                            <xs:element type="xs:byte" name="sort_triggers"/>
                                            <xs:element name="resource">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="name"/>
                                                  <xs:element type="xs:string" name="host"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:byte" name="max_columns"/>
                                            <xs:element type="xs:string" name="application"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="graphs" minOccurs="0" maxOccurs="1">
	         <xs:complexType>
	         	<xs:sequence>
	            	<xs:element name="graph" type="graphType" maxOccurs="unbounded" minOccurs="0"/>
	            </xs:sequence>
	        </xs:complexType>
        </xs:element>
        <xs:element name="triggers">
        	<xs:complexType>
        		<xs:sequence>
        			<xs:element name="trigger" type="triggerObj" minOccurs="0" maxOccurs="unbounded"></xs:element>
        		</xs:sequence>
        	</xs:complexType>
        </xs:element>
        <xs:element name="value_maps">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value_map" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="mappings">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="mapping" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="value"/>
                                <xs:element type="xs:string" name="newvalue"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
                      <xs:complexType name="applicationsType">
                        <xs:sequence>
                          <xs:element name="application" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>

<xs:complexType name="templateDependencies">
				<xs:sequence>
    				<xs:element name="template" minOccurs="0" maxOccurs="unbounded">
    					<xs:complexType>
    						<xs:sequence>
    							<xs:element name="name" type="xs:string"/>
    						</xs:sequence>
    					</xs:complexType>
    				</xs:element>
    			</xs:sequence>
</xs:complexType>


<xs:complexType name="itemObj">
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="itemType" name="type"/>
                                <xs:element type="xs:string" name="snmp_community"/>
                                <xs:element type="xs:string" name="snmp_oid"/>
                                <xs:element type="xs:string" name="key"/>
                                <xs:element type="xs:integer" name="delay"/>
                                <xs:element type="xs:string" name="history"/>
                                <xs:element type="xs:string" name="trends"/>
                                <xs:element type="xs:byte" name="status"/>
                                <xs:element type="xs:byte" name="value_type"/>
                                <xs:element type="xs:string" name="allowed_hosts"/>
                                <xs:element type="xs:string" name="units"/>
                                <xs:element type="xs:string" name="snmpv3_contextname"/>
                                <xs:element type="xs:string" name="snmpv3_securityname"/>
                                <xs:element type="xs:string" name="snmpv3_securitylevel"/>
                                <xs:element type="xs:string" name="snmpv3_authprotocol"/>
                                <xs:element type="xs:string" name="snmpv3_authpassphrase"/>
                                <xs:element type="xs:string" name="snmpv3_privprotocol"/>
                                <xs:element type="xs:string" name="snmpv3_privpassphrase"/>
                                <xs:element type="xs:string" name="params"/>
                                <xs:element type="xs:string" name="ipmi_sensor"/>
                                <xs:element type="xs:byte" name="authtype"/>
                                <xs:element type="xs:string" name="username"/>
                                <xs:element type="xs:string" name="password"/>
                                <xs:element type="xs:string" name="publickey"/>
                                <xs:element type="xs:string" name="privatekey"/>
                                <xs:element type="xs:string" name="port"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="inventory_link"/>
                                <xs:element type="applicationsType" name="applications"/>
                                <xs:element name="valuemap">
                                	<xs:complexType>
                                		<xs:sequence>
                                			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                		</xs:sequence>
                                	</xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="logtimefmt"/>
								<xs:element name="preprocessing">
									<xs:complexType	mixed="true">
										<xs:sequence>
											<xs:element name="step" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element type="xs:int" name="type" />
														<xs:element type="xs:string" name="params" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
                              </xs:sequence>
                            </xs:complexType>



                            
  <xs:complexType name="itemProtoObj">
	  <xs:complexContent>
	    <xs:extension base="itemObj">
	      <xs:sequence>
				<xs:element name="application_prototypes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="application_prototype" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element
											type="xs:string" name="name" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	      </xs:sequence>
	    </xs:extension>
	  </xs:complexContent>
   </xs:complexType> 


<xs:simpleType name="itemType">
	<!--     Type of the item. 
	Possible values: 
	0 - Zabbix agent; 
	1 - SNMPv1 agent; 
	2 - Zabbix trapper; 
	3 - simple check; 
	4 - SNMPv2 agent; 
	5 - Zabbix internal; 
	6 - SNMPv3 agent; 
	7 - Zabbix agent (active); 
	8 - Zabbix aggregate; 
	9 - web item; 
	10 - external check; 
	11 - database monitor; 
	12 - IPMI agent; 
	13 - SSH agent; 
	14 - TELNET agent; 
	15 - calculated; 
	16 - JMX agent; 
	17 - SNMP trap.  
	   -->
    <xs:restriction base="xs:int">
	       <xs:minInclusive value="0"/>
	       <xs:maxInclusive value="17"/>
    </xs:restriction>
   </xs:simpleType>
   
			<xs:complexType name="triggerObj">
				<xs:sequence>
					<xs:element type="xs:string" name="expression" />
					<xs:element type="xs:int" name="recovery_mode" />
					<xs:element type="xs:string" name="recovery_expression" />
					<xs:element type="xs:string" name="name" />
					<xs:element type="xs:int" name="correlation_mode" />
					<xs:element type="xs:string" name="correlation_tag" />
					<xs:element type="xs:string" name="url" />
					<xs:element type="xs:byte" name="status" />
					<xs:element type="triggerPriority" name="priority" />
					<xs:element type="xs:string" name="description" />
					<xs:element type="xs:byte" name="type" />
					<xs:element type="xs:byte" name="manual_close" />
					<xs:element name="dependencies">
						<xs:complexType mixed="true">
							<xs:sequence>
								<xs:element name="dependency" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element type="xs:string" name="name" />
											<xs:element type="xs:string" name="expression" />
											<xs:element type="xs:string" name="recovery_expression" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="tags">
						<xs:complexType	mixed="true">
							<xs:sequence>
								<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element type="xs:string" name="tag" />
											<xs:element type="xs:string" name="value" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

<xs:simpleType name="triggerPriority">
	<!--     Type of the item. 
	Possible values are: 
	0 - (default) not classified; 
	1 - information; 
	2 - warning; 
	3 - average; 
	4 - high; 
	5 - disaster.
	   -->
    <xs:restriction base="xs:int">
	       <xs:minInclusive value="0"/>
	       <xs:maxInclusive value="5"/>
    </xs:restriction>
   </xs:simpleType>   
    
   <xs:simpleType name="zabbixHostFormat">
	   <xs:restriction base="xs:token">
	       <xs:pattern value="[0-9a-zA-Z_\. \-]+"/>
	   </xs:restriction>
	</xs:simpleType>
	<!-- https://searchcode.com/codesearch/view/80067365/ -->


<xs:complexType name="graphType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1"/>
			<xs:element name="width" type="xs:integer" maxOccurs="1" minOccurs="1"/>
			<xs:element name="height" type="xs:integer" maxOccurs="1" minOccurs="1"/>
			<xs:element name="yaxismin" type="xs:integer" maxOccurs="1" minOccurs="1"/>
			<xs:element name="yaxismax" type="xs:integer" maxOccurs="1" minOccurs="1"/>
			<xs:element name="show_work_period" type="xs:integer" maxOccurs="1" minOccurs="1"/>
			<xs:element name="show_triggers" type="xs:integer" maxOccurs="1" minOccurs="1"/>
			<xs:element name="type" type="xs:byte" maxOccurs="1" minOccurs="1"/>
			<xs:element name="show_legend" type="xs:byte" maxOccurs="1" minOccurs="1"/>
			<xs:element name="show_3d" type="xs:byte" maxOccurs="1" minOccurs="1"/>
			<xs:element name="percent_left" type="xs:float" maxOccurs="1" minOccurs="1"/>
			<xs:element name="percent_right" type="xs:float" maxOccurs="1" minOccurs="1"/>
			<xs:element name="ymin_type_1" type="xs:byte" maxOccurs="1" minOccurs="1"/> <!-- type_1: 0 fixed, 1- calculated, 2- item -->
			<xs:element name="ymax_type_1" type="xs:byte" maxOccurs="1" minOccurs="1"/>
			<xs:element name="ymin_item_1" type="xs:byte" maxOccurs="1" minOccurs="1"/>
			<xs:element name="ymax_item_1" type="xs:byte" maxOccurs="1" minOccurs="1"/>
			<xs:element name="graph_items">
				<xs:complexType>
					<xs:sequence>
	    				<xs:element name="graph_item" minOccurs="1" maxOccurs="unbounded">
	    					<xs:complexType>
	    						<xs:sequence>
	    							<xs:element name="sortorder" type="xs:byte"/>
	    							<xs:element name="drawtype" type="xs:byte"/>
	    							<xs:element name="color" type="xs:string"/>
	    							<xs:element name="yaxisside" type="xs:byte"/>
	    							<xs:element name="calc_fnc" type="xs:byte"/>
	    							<xs:element name="type" type="xs:byte"/>
			    					<xs:element name="item" minOccurs="1" maxOccurs="unbounded">
				    					<xs:complexType>
				    						<xs:sequence>
				    							<xs:element name="host" type="xs:string"/>
				    							<xs:element name="key" type="xs:string"/>
				    						</xs:sequence>
				    					</xs:complexType>
			    					</xs:element>
			    				</xs:sequence>
	    					</xs:complexType>
	    				</xs:element>
	    			</xs:sequence>
				</xs:complexType>
			</xs:element>

	 	</xs:sequence>
    </xs:complexType>





	 
</xs:schema>
